# Projekt 2 - ELECTRE III i PROMETHEE

#### Filip Marciniak 148148, Szymon Pasternak 148146

# Opis zbioru danych

1. Jaka jest domena problemu? 

W problemie rozważamy koszykarzy z ligi NBA grających w sezonie 2023/2024.

2. Jakie jest źródło danych?

Dane pochodzą z oficjalnej strony NBA - https://www.nba.com/stats/players/traditional.

3. Jaki jest punkt widzenia decydenta?

Jako decydent zależy nam na znalezieniu rankingu wszystkich rozważanych koszykarzy.

4. Jaka jest liczba rozważanych wariantów? Czy w oryginalnym zbiorze danych było ich więcej?

W przygotowanym zbiorze danych jest 38 wariantów. Ze strony NBA stats wybranych zostało 40 korzykarzy, którzy mają najwięcej punktów na mecz, a następnie usunięto takich, którzy mają poniżej 30 rozegranych meczów, ponieważ mogliby zaburzać dane. W oryginalnym zbiorze dostępnych jest 549 koszykarzy.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.5f' % x)

Poniżej przedstawiony został pełen zbiór danych.

In [2]:
df = pd.read_csv('./Basketball_players.csv', sep=';')
df

,PLAYER,PTS,FG%,3P%,FT%,REB,AST,TOV,PF,+/-
0,Joel Embiid,35.30000,53.30000,36.60000,88.30000,11.30000,5.70000,3.70000,2.90000,6.90000
1,Luka Doncic,33.90000,48.70000,37.40000,78.70000,9.10000,9.80000,4.00000,2.10000,3.50000
2,Giannis Antetokounmpo,30.70000,61.60000,28.80000,65.70000,11.50000,6.40000,3.40000,2.90000,4.60000
3,Shai Gilgeous-Alexander,30.40000,54.00000,36.70000,87.10000,5.60000,6.30000,2.20000,2.50000,7.90000
4,Kevin Durant,27.60000,52.90000,42.20000,85.50000,6.80000,5.20000,3.30000,1.70000,3.80000
5,Donovan Mitchell,27.40000,46.80000,37.30000,86.20000,5.30000,6.10000,2.90000,2.20000,7.00000
6,Jalen Brunson,27.40000,47.70000,40.10000,84.50000,3.60000,6.50000,2.40000,1.90000,6.10000
7,Jayson Tatum,27.30000,47.20000,37.80000,83.20000,8.20000,4.90000,2.50000,2.00000,8.80000
8,Devin Booker,27.20000,49.20000,36.40000,88.10000,4.80000,6.90000,2.50000,3.00000,4.60000
9,Stephen Curry,26.50000,44.70000,40.30000,92.30000,4.40000,5.00000,2.80000,1.60000,2.00000
10,De'Aaron Fox,26.50000,46.60000,36.30000,73.00000,4.50000,5.60000,2.70000,2.60000,2.60000
11,Trae Young,26.40000,42.60000,37.10000,85.60000,2.70000,10.80000,4.30000,2.10000,-2.20000
12,Anthony Edwards,26.20000,46.40000,37.30000,82.70000,5.50000,5.20000,3.10000,1.80000,6.50000
13,Nikola Jokic,26.10000,58.10000,35.00000,82.80000,12.20000,9.00000,2.90000,2.50000,8.20000
14,Tyrese Maxey,25.80000,44.90000,37.90000,86.70000,3.70000,6.10000,1.70000,2.20000,3.50000
15,LeBron James,25.30000,53.00000,40.50000,74.80000,7.30000,8.10000,3.30000,1.20000,2.70000
16,Kyrie Irving,25.30000,49.10000,40.70000,90.50000,5.00000,5.30000,1.70000,1.90000,3.70000
17,Anthony Davis,24.70000,55.30000,28.90000,81.50000,12.60000,3.60000,2.00000,2.40000,1.10000
18,Damian Lillard,24.40000,42.60000,35.80000,92.30000,4.40000,7.10000,2.50000,1.80000,5.80000
19,Julius Randle,24.00000,47.20000,31.10000,78.10000,9.20000,5.00000,3.50000,2.70000,4.70000
20,Desmond Bane,23.70000,46.40000,38.10000,87.00000,4.40000,5.50000,2.70000,2.90000,-4.80000
21,Kawhi Leonard,23.70000,52.40000,41.50000,88.70000,6.10000,3.60000,1.70000,1.40000,5.80000
22,DeMar DeRozan,23.30000,47.40000,33.00000,85.90000,4.30000,5.30000,1.50000,2.10000,-1.00000
23,Jaylen Brown,23.30000,50.40000,35.40000,69.90000,5.50000,3.60000,2.30000,2.60000,6.70000
24,Lauri Markkanen,23.20000,48.00000,39.90000,89.90000,8.20000,2.00000,1.40000,1.80000,0.40000
25,Zion Williamson,22.80000,58.60000,35.70000,70.20000,5.80000,5.00000,2.70000,2.30000,2.30000
26,Dejounte Murray,22.70000,46.40000,36.60000,80.40000,5.30000,6.20000,2.40000,1.70000,-1.40000
27,Anfernee Simons,22.60000,43.00000,38.50000,91.60000,3.60000,5.50000,2.70000,2.10000,-7.20000
28,Paul George,22.50000,47.00000,40.90000,89.70000,5.30000,3.60000,2.00000,2.80000,6.30000
29,Paolo Banchero,22.50000,46.40000,35.90000,71.00000,6.80000,5.40000,3.10000,2.00000,-0.20000
30,Kyle Kuzma,22.40000,46.70000,33.90000,77.90000,6.50000,4.30000,2.70000,2.20000,-7.80000
31,Jaren Jackson Jr.,22.30000,44.20000,32.00000,80.50000,5.60000,2.30000,2.40000,3.60000,-5.00000
32,Cade Cunningham,22.30000,44.80000,35.00000,86.60000,4.30000,7.50000,3.40000,2.50000,-6.20000
33,Karl-Anthony Towns,22.10000,50.60000,42.30000,87.40000,8.40000,3.00000,2.80000,3.30000,5.70000
34,Pascal Siakam,21.80000,53.50000,34.10000,73.00000,7.00000,4.50000,1.80000,2.40000,0.90000
35,Cam Thomas,21.80000,44.40000,35.70000,84.90000,3.20000,2.90000,1.90000,2.10000,-3.00000
36,Jimmy Butler,21.40000,50.10000,41.50000,85.60000,5.40000,4.80000,1.70000,1.20000,3.10000
37,Alperen Sengun,21.10000,53.70000,29.70000,69.30000,9.30000,5.00000,2.60000,3.30000,0.80000

5. Opisz jeden z rozważanych wariantów - jak jest oceniony na poszczególnych kryteriach, jak dobry jest na tle innych.

**Nikola Jokic**:
- PTS - uzyskuje dość dobry wynik, znajduje się na 14 miejscu na tym kryterium,
- FG% - na tym kryterium jest jednym z najlepszych wariantów,
- 3P% - na tym kryterium znajduje się mniej więcej w połowie,
- FT% - podobnie jak kryterium 3P%
- REB - wyróżnia się spośród innych wariantów dwucyfrowym wynikiem na tym kryterium, są jedynie 4 oceny dwucyfrowe,
- AST - na tym kryterium również jest jednym z lepszych wariantów
- TOV - na tym kryterium, radzi sobie gorzej niż inne warianty, ale o niewielką wartość
- PF - na tym kryterium radzi sobie średnio
- +/- - ostatnie kryterium zdecydowanie wyróżnia go spośród innych wariantów, uzyskuje na nim jedną z najlepszych ocen.

6. Ile rozważasz kryteriów? Czy było ich więcej w oryginalnym zbiorze danych?
  
W problemie rozważanych jest 9 kryteriów. W oryginalnym zbiorze danych było ich więcej natomiast wybrane zostały takie, które uśredniają niektóre z dostępnych oryginalnie oraz najważniejsze, takie jak np. liczba punktów na mecz.

7. Jakie są typy poszczególnych kryteriów? Scharakteryzuj je pod kątem:

Na wszystkich z kryteriów uzyskane wartości są ciągłe, ponieważ są to statystyki średnio na mecz.
- PTS - ZYSK - średnia liczba punktów na mecz
- FG% - ZYSK - procent trafionych rzutów
- 3P% - ZYSK - procent trafionych rzutów 3 punktowych
- FT% - ZYSK - procent trafionych rzutów osobistych
- REB - ZYSK - średnia liczba zbiórek na mecz
- AST - ZYSK - średnia liczba asyst na mecz
- TOV - KOSZT - średnia liczba strat na mecz
- PF - KOSZT - średnia liczba fauli na mecz
- +/- - ZYSK - średnia różnica pomiędzy punktami zdobytymi i straconymi przez drużynę w czasie kiedy gracz był obecny na boisku na mecz

Osiągane wartości:

In [3]:
df.describe()

,PTS,FG%,3P%,FT%,REB,AST,TOV,PF,+/-
count,38.00000,38.00000,38.00000,38.00000,38.00000,38.00000,38.00000,38.00000,38.00000
mean,25.10263,49.10263,36.68158,82.55526,6.38684,5.48947,2.61053,2.27105,2.29474
std,3.31063,4.59497,3.54476,7.19511,2.55451,1.89106,0.69895,0.56660,4.46070
min,21.10000,42.60000,28.80000,65.70000,2.70000,2.00000,1.40000,1.20000,-7.80000
25%,22.52500,46.40000,35.10000,78.25000,4.42500,4.57500,2.05000,1.90000,-0.05000
50%,24.20000,47.55000,36.65000,85.20000,5.55000,5.30000,2.65000,2.20000,3.30000
75%,26.50000,52.77500,39.55000,87.32500,7.97500,6.27500,3.05000,2.60000,5.80000
max,35.30000,61.60000,42.30000,92.30000,12.60000,10.80000,4.30000,3.60000,8.80000

8. Jakie są wagi poszczególnych kryteriów?

TODO

9. Czy istnieją jakieś dominacje w zbiorze wariantów? Jeśli tak, podaj je.

TODO

10. Jak teoretycznie powinien prezentować się najlepszy wariant w Twoim zbiorze danych?

TODO

11. Spośród rozważanych wariantów, który wydaje się być najlepszy/lepszy od innych i dlaczego?

TODO

12. Spośród rozważanych wariantów, który wydaje się być najsłabszy/ znacząco słabszy od innych i dlaczego?

TODO

# ELECTRE III

In [4]:
CRITERIA = {
    'PTS': {'type': 'gain', 'k': 8, 'q': 4, 'p': 8, 'v': 12},
    'FG%': {'type': 'gain', 'k': 4, 'q': 3, 'p': 4, 'v': 8},
    '3P%': {'type': 'gain', 'k': 4, 'q': 4, 'p': 5, 'v': 11},
    'FT%': {'type': 'gain', 'k': 2, 'q': 3, 'p': 7, 'v': 15},
    'REB': {'type': 'gain', 'k': 5, 'q': 2, 'p': 5, 'v': 9},
    'AST': {'type': 'gain', 'k': 5, 'q': 1.5, 'p': 3, 'v': 8},
    'TOV': {'type': 'cost', 'k': 3, 'q': 1, 'p': 1.5, 'v': 2.5},
    'PF':  {'type': 'cost', 'k': 1, 'q': 1, 'p': 1.5, 'v': 2},
    '+/-': {'type': 'gain', 'k': 2, 'q': 3, 'p': 4, 'v': 8},
}

In [5]:
def calculate_marginal_concordance(ga, gb, q, p, type_='gain'):

    if type_ == 'gain':
        if ga - gb >= -q:
            return 1
        elif ga - gb < -p:
            return 0
        else:
            return (p-(gb-ga))/(p-q)
    elif type_ == 'cost':
        if ga - gb <= q:
            return 1
        elif ga - gb > p:
            return 0
        else:
            return (p-(ga-gb))/(p-q)
    else:
        raise Exception("wrong criterion type")
    

def calculate_marginal_discordance(ga, gb, p, v, type_='gain'):

    if type_ == 'gain':
        if ga - gb <= -v:
            return 1
        elif ga - gb >= -p:
            return 0
        else:
            return ((gb-ga)-p)/(v-p)
    elif type_ == 'cost':
        if ga - gb >= v:
            return 1
        elif ga - gb <= p:
            return 0
        else:
            return (v-(ga-gb))/(v-p)
    else:
        raise Exception("wrong criterion type")

## Calculating Comprehensive Concordance

In [6]:
# Comprehensive Concordance will be stored inside df_C variable which is a NxN dataframe
df_C = pd.DataFrame(1.0, index=df.index, columns=df.index)
weights = sum([config['k'] for config in CRITERIA.values()])

for alt_1_id in df_C.index:
    for alt_2_id in df_C.index:
        if alt_1_id == alt_2_id:
            continue

        comprehensive_concordance_index = 0
        # calculate marginal concordance index for each criterion and add it to the cc index with appropriate weight
        for criterion, config in CRITERIA.items():
            marginal_concordance = calculate_marginal_concordance(
                ga=df.loc[alt_1_id, criterion],
                gb=df.loc[alt_2_id, criterion],
                q=config['q'],
                p=config['p'],
                type_=config['type']
            )
            comprehensive_concordance_index += config['k'] * marginal_concordance
        # normalize the cc index
        comprehensive_concordance_index /= weights
        df_C.loc[alt_1_id, alt_2_id] = comprehensive_concordance_index

## Calculate Outranking Credibility

In [7]:
df_sigma = pd.DataFrame(1.0, index=df.index, columns=df.index)

for alt_1_id in df_C.index:
    for alt_2_id in df_C.index:
        if alt_1_id == alt_2_id:
            continue

        C = sigma = df_C.loc[alt_1_id, alt_2_id]
        # calculate marginal discordance for each criterion
        for criterion, config in CRITERIA.items():
            marginal_discordance = calculate_marginal_discordance(
                ga=df.loc[alt_1_id, criterion],
                gb=df.loc[alt_2_id, criterion],
                p=config['p'],
                v=config['v'],
                type_=config['type']
            )
            # if the marginal discordance is greater than the result of concordance test,
            # take it into account while calculating outranking credibility (sigma)
            if marginal_discordance > C:
                sigma = sigma * (1-marginal_discordance)/(1-C)
        df_sigma.loc[alt_1_id, alt_2_id] = sigma

np.fill_diagonal(df_sigma.values, -1)

## Distillation

In [10]:
def distillation(df_m, upper_threshold=None, descending=True):

    # compute upper threshold
    if upper_threshold is None:
        upper_threshold = df_m.values.max()
    
    # compute lower threshold
    s = -0.15 * upper_threshold + 0.3
    lower_threshold = upper_threshold - s
    lower_threshold = df_m[(df_m < lower_threshold) & (df_m > -1)].max().max()
    if np.isnan(lower_threshold):
        lower_threshold = 0
    
    # print(df_m)
    # print(f"{s=}, {lower_threshold=}, {type(lower_threshold)} {upper_threshold=}")

    # if upper threshold is equal to 0, then stop the algorithm
    if upper_threshold == 0:
        return df_m.index

    # save only relations that satisfy given conditions to the df_f (df filtered)
    df_f = pd.DataFrame(-1.0, index=df_m.index, columns=df_m.index)
    for alt_1_id in df_m.index:
        for alt_2_id in df_m.columns:
            if alt_1_id == alt_2_id:
                continue
            sigma = df_m.loc[alt_1_id, alt_2_id]
            if sigma > lower_threshold and sigma > df_m.loc[alt_2_id, alt_1_id] + s:
                df_f.loc[alt_1_id, alt_2_id] = sigma

    # compute the strength, weakness and quality
    df_swq = pd.DataFrame(0, index=df_m.index, columns=['strength', 'weakness', 'quality'])
    df_swq['strength'] = df_f.apply(lambda row: (row != -1.0).sum(), axis=1)
    df_swq['weakness'] = df_f.apply(lambda col: (col != -1.0).sum(), axis=0)
    df_swq['quality'] = df_swq['strength'] - df_swq['weakness']

    # take subset with maximal quality
    df_swq['rank'] = df_swq['quality'].rank(ascending=False, method='min')
    if descending:
        df_mq = df_swq[df_swq['rank'] == 1]
    else:
        df_mq = df_swq[df_swq['rank'] == df_swq['rank'].max()]
    if len(df_mq.index) == 1:
        return df_mq.index
    else:
        return distillation(
            df_m.loc[df_mq.index, df_mq.index],
            upper_threshold=lower_threshold,
            descending=descending
        )

In [24]:
# df_sigma = pd.DataFrame(
#     {
#         0: [1, 0, 0.58, 0.3, 0.6],
#         1: [0.6, 1, 0.6, 0, 0],
#         2: [0.3, 0.2, 1, 0.6, 0.6],
#         3: [0.7, 0, 0.85, 1, 0.7],
#         4: [0.55, 0, 0, 0.58, 1]
#     }
# )
# np.fill_diagonal(df_sigma.values, -1)

df['desc_preorder'] = 0
df['asc_preorder'] = 0

descending_results = []
df_copy = df_sigma.copy()
position = 1
while len(df_copy.index) > 0:
    alternatives = distillation(df_copy, descending=True)
    df_copy = df_copy.loc[~df_copy.index.isin(alternatives), ~df_copy.index.isin(alternatives)]
    df.loc[alternatives, 'desc_preorder'] = position
    descending_results.append([df.loc[alt, "PLAYER"] for alt in alternatives])
    position += 1
print(f"{descending_results=}")

ascending_results = []
df_copy = df_sigma.copy()
position = len(df_sigma)
while len(df_copy.index) > 0:
    alternatives = distillation(df_copy, descending=False)
    df_copy = df_copy.loc[~df_copy.index.isin(alternatives), ~df_copy.index.isin(alternatives)]
    df.loc[alternatives, 'asc_preorder'] = position
    ascending_results.insert(0, [df.loc[alt, "PLAYER"] for alt in alternatives])
    position -= 1
df['asc_preorder'] = df['asc_preorder'] - df['asc_preorder'].min() + 1
print(f"{ascending_results=}")

descending_results=[['Joel Embiid'], ['Nikola Jokic'], ['Shai Gilgeous-Alexander'], ['Kevin Durant'], ['Luka Doncic'], ['Kawhi Leonard'], ['Jayson Tatum'], ['Jimmy Butler'], ['LeBron James'], ['Kyrie Irving', 'Karl-Anthony Towns'], ['Paul George'], ['Donovan Mitchell'], ['Jalen Brunson', 'Devin Booker'], ['Tyrese Maxey', 'Damian Lillard'], ['Stephen Curry', 'Lauri Markkanen', 'Zion Williamson'], ['Anthony Edwards'], ['Anthony Davis'], ["De'Aaron Fox", 'Pascal Siakam'], ['Desmond Bane', 'DeMar DeRozan'], ['Trae Young'], ['Cade Cunningham'], ['Giannis Antetokounmpo'], ['Julius Randle', 'Jaylen Brown', 'Alperen Sengun'], ['Anfernee Simons'], ['Dejounte Murray', 'Paolo Banchero'], ['Kyle Kuzma', 'Jaren Jackson Jr.', 'Cam Thomas']]
ascending_results=[['Joel Embiid', 'Nikola Jokic'], ['Luka Doncic'], ['Shai Gilgeous-Alexander'], ['Giannis Antetokounmpo', 'Kawhi Leonard'], ['Jayson Tatum'], ['Jimmy Butler'], ['Kyrie Irving'], ['Kevin Durant'], ['Jalen Brunson'], ['Devin Booker', 'Anthony Davis', 'Paul George'], ['Donovan Mitchell'], ['Stephen Curry', 'Lauri Markkanen'], ['LeBron James'], ['Karl-Anthony Towns'], ['Tyrese Maxey'], ['Damian Lillard', 'Zion Williamson'], ['Anthony Edwards'], ['Pascal Siakam', 'Alperen Sengun'], ['Dejounte Murray'], ['Trae Young'], ['DeMar DeRozan'], ['Julius Randle'], ["De'Aaron Fox", 'Desmond Bane'], ['Jaylen Brown'], ['Anfernee Simons'], ['Cade Cunningham'], ['Cam Thomas'], ['Paolo Banchero'], ['Kyle Kuzma'], ['Jaren Jackson Jr.']]

# FINAL

In [27]:
df_final = pd.DataFrame(0, index=df.index, columns=df.index)

for alt_1_id in df_final.index:
    for alt_2_id in df_final.columns:
        if alt_1_id == alt_2_id:
            continue

        alt_1_d = df.loc[alt_1_id, "desc_preorder"]
        alt_1_a = df.loc[alt_1_id, "asc_preorder"]
        alt_2_d = df.loc[alt_2_id, "desc_preorder"]
        alt_2_a = df.loc[alt_2_id, "asc_preorder"]

        if alt_1_d < alt_2_d and alt_1_a < alt_2_a:
            df_final.loc[alt_1_id, alt_2_id] = 1
        elif (alt_1_d < alt_2_d and alt_1_a == alt_2_a) or (alt_1_d == alt_2_d and alt_1_a < alt_2_a):
            df_final.loc[alt_1_id, alt_2_id] = 1
        elif alt_1_d == alt_2_d and alt_1_a == alt_2_a:
            df_final.loc[alt_1_id, alt_2_id] = 1

In [28]:
df_final

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,0,0,1,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,1,0,1
3,0,0,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,0,0,0,0,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,0,1
5,0,0,0,0,0,0,0,0,0,1,...,0,1,1,1,1,0,1,1,0,1
6,0,0,0,0,0,0,0,0,1,1,...,0,1,1,1,1,0,1,1,0,1
7,0,0,0,0,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
8,0,0,0,0,0,0,0,0,0,1,...,0,1,1,1,1,0,1,1,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,1,1,0,1
10,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,1,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,1,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,1,1,0,1
13,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
14,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,1,1,0,1
15,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,0,1
16,0,0,0,0,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,1,1,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,1,1,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,1,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,1,0,0
21,0,0,1,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
22,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,1,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,1,0,0
24,0,0,0,0,0,0,0,0,0,1,...,0,1,1,1,1,0,1,1,0,1
25,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,1,1,0,1
26,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,1,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,1,0,0
28,0,0,0,0,0,1,0,0,1,1,...,0,1,1,1,1,0,1,1,0,1
29,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,1,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,1,1,0,1
34,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,0,0,1,0,1
35,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
36,0,0,0,0,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,0,1
37,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,1,0,0